<div style="display: flex;">
  <div style="display: inline-block;width: 18%;">
    <div class="d-flex flex-column flex-shrink-0 p-3  vh-100" style="background-color: #88bef3c7;"> 
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Employee App</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            <i class="bi bi-house-door-fill"></i>
            Home
          </a>
        </li>


        <li>
          <a href="#" class="nav-link" routerLink="/Employee" routerLinkActive="active">
            <i class="bi bi-person-fill"></i>
            Employees
          </a>
        </li>
        <li>
          <a href="#" class="nav-link" routerLink="/Project" routerLinkActive="active">
            <i class="bi bi-journal"></i>
            Project
          </a>
        </li>
        <li>
          <a href="#" class="nav-link" routerLink="/singlewithmultiple" routerLinkActive="active">
            <i class="fa-solid fa-person"></i>
            Single-with-Multiple
          </a>
        </li>
        <li>
          <a href="#" class="nav-link" routerLink="/ReactForms" routerLinkActive="active">
            <i class="fa-solid fa-person"></i>
            React Forms
          </a>
        </li>

      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">

          <span>Sign out</span>

        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser2">
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>

    </div>

  </div>

  <div style="display: inline-block;width: 82%;">
    <router-outlet></router-outlet>
  </div>
</div>