<div class="card" *ngIf="!ViewemployeeData">
    <div class="card-header bg-success text-white text-center">
        <!-- <h5>Add Employee Details</h5> -->
        <h5>{{ isEditMode ? 'Edit Employee Details' : 'Add Employee Details' }}</h5>

    </div>
    <div class="card-body">
        <form >
            <div class="row">
                <div class="col-6">
                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Employee Name</label>
                        <input type="text" class="form-control" id="name" name="employeeName" [(ngModel)]="empObj.employeeName" placeholder="Enter employee name"
                            required >
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" name="contactNo" [(ngModel)]="empObj.contactNo" placeholder="Enter phone number"
                            required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group mb-3">
                        <label for="deptID" class="form-label">Parent Department</label>
                        <select class="form-select" id="deptId" aria-label="Parent Department" [(ngModel)]="deptId" name="deptId" (change)="onDeperentChange()">
                            <option value=""disabled>Select Parent Department</option>
                            <option *ngFor="let department of parentdeperentList" [value]="department.departmentId">
                                {{ department.departmentName }}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mb-3">
                        <label for="childDepartment" class="form-label">Child Department</label>
                        <select class="form-select" id="childDepartment" aria-label="Child Department" [(ngModel)]="empObj.deptId" name="deptId">
                            <option value="" disabled>Select Child Department</option>
                            <option *ngFor="let item of childdeperntList" [value]="item.childDeptId">
                                {{ item.departmentName }}
                              </option>
                        </select>
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="col-6">
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Email ID</label>
                        <input type="email" class="form-control" id="email" name="emailId" [(ngModel)]="empObj.emailId" 
                            placeholder="Enter email address" required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="empObj.password" 
                            placeholder="Enter password" required>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label class="form-label">Select Gender</label>
                        <div class="d-flex align-items-center">
                            <div class="form-check me-3">
                                <input class="form-check-input custom-radio" type="radio" name="gender" id="male" [(ngModel)]="empObj.gender" 
                                    value="Male">
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input custom-radio" type="radio" name="gender" id="female" [(ngModel)]="empObj.gender" 
                                    value="Female">
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="text-center">
                <!-- <button type="button" class="btn btn-success" (click)="Savedata()">Submit</button> -->
                <button *ngIf="!isEditMode" type="button" class="btn btn-success w-50"  (click)="saveOrUpdateEmployee()">Save</button>
                <button *ngIf="isEditMode" type="button" class="btn btn-primary w-50"  (click)="saveOrUpdateEmployee()">Update</button>
            </div>
        </form>


    </div>
</div>


<!--  view Employee  -->



<div *ngIf="ViewemployeeData" class="card mx-auto " style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card-header bg-primary text-white text-center">
        <h4> View Employee Details</h4>
    </div>
    <div class="card-body">
        <form>
            <div class="row mb-3">
                <div class="col-6">
                    <label for="employeeName" class="form-label"><strong>Name</strong></label>
                    <input type="text" id="employeeName" class="form-control" [value]="ViewemployeeData.employeeName" readonly>
                </div>
                <div class="col-6">
                    <label for="employeeId" class="form-label"><strong>Employee ID</strong></label>
                    <input type="text" id="employeeId" class="form-control" [value]="ViewemployeeData.employeeId" readonly>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-6">
                    <label for="contactNo" class="form-label"><strong>Contact Number</strong></label>
                    <input type="text" id="contactNo" class="form-control" [value]="ViewemployeeData.contactNo" readonly>
                </div>
                <div class="col-6">
                    <label for="emailId" class="form-label"><strong>Email</strong></label>
                    <input type="email" id="emailId" class="form-control" [value]="ViewemployeeData.emailId" readonly>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-6">
                    <label for="role" class="form-label"><strong>Role</strong></label>
                    <input type="text" id="role" class="form-control" [value]="ViewemployeeData.role" readonly>
                </div>
                <div class="col-6">
                    <label for="gender" class="form-label"><strong>Gender</strong></label>
                    <input type="text" id="gender" class="form-control" [value]="ViewemployeeData.gender" readonly>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-12">
                    <label for="deptId" class="form-label"><strong>Department</strong></label>
                    <input type="text" id="deptId" class="form-control" [value]="ViewemployeeData.deptId" readonly>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-secondary w-50" (click)="closeView()">Close</button>
    </div>
</div>


  