.custom-radio {

    margin-right: 5px;
    border: 0.5px solid #000;
}

.form-label {

    font-size: 1.1rem;
}

.form-check-label {
    font-size: 1rem;
}

.d-flex .form-check {
    margin-right: 15px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-body p {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    line-height: 1.5;
}
